body {
    font-family: Arial, sans-serif;
    background: rgb(122, 120, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: blue;
    padding: 25px;
    width: 330px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dob-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.dob-box select {
    width: 32%;
}

#error {
    color: red;
    text-align: center;
    height: 20px;
}
